.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  color: #fff;
  background-color: #333;
  width: 85%;
  margin: 0 auto;
}

.brandContainer {
  display: flex;
  align-items: center;
  padding: 0em 0.5em;
  justify-content: space-between;
}

.brandIcon {
  font-size: 1.8rem;
}

.brandName {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.5em;
}

.cartWishContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 50%; */
}

@media (max-width: 550px) {
  .navbar {
    flex-direction: column;
    width: 100%;
  }

  .brandContainer {
    margin: 0.5em 0em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
